.fade-in-out-enter-active,
.fade-in-out-leave-active {
  transition: all 0.3s ease-in-out;
}

.fade-in-out-enter-from {
  opacity: 0;
  transform: translateY(-10px);
}

.fade-in-out-enter-to {
  opacity: 1;
  transform: translateY(0px);
}

.fade-in-out-leave-from {
  opacity: 1;
  transform: translateY(0px);
}

.fade-in-out-leave-to {
  opacity: 0;
  transform: translateY(-10px);
}
